/* Estrutura do site */

@import url(menu.css);
@import url(pagina_inicial.css);
@import url(footer.css);
@import url(produtos.css);
@import url(sobre.css);
@import url(onde-encontrar.css);
@import url(forno.css);
@import url(suporte.css);

@font-face {
    font-family: Heading;
    src: url(fonts/Heading-Pro-Thin-trial.ttf)
}

html,
body {
    overflow-x: hidden;
    min-width: 350px;
}





@media only screen and (max-width: 370px) {
    .nome-produto-menu {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    #pagina-onde-encontrar h1 {
        font-weight: normal;
        font-size: 23px;
        line-height: 120%;
        color: #414042;
    }
}

#pagina-onde-encontrar p {
    font-size: 18px;
    line-height: 120%;
    color: #414042;
}

@media only screen and (max-width: 991px) {
    #barra-menu ul li a {
        margin: 5px 13px;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .casa {
        text-align: center;
    }
}

@media only screen and (max-width: 1199px) {
    .sobre iframe {
        width: 90%;
        height: 407px;
    }
    .conteudos-sobre {
        padding-top: 6%;
    }
    .sobre {
        margin: 5% auto 0;
        padding-bottom: 5%;
        text-align: center;
    }

    .bg-sobre h1 {
        font-size: 20px;
    }

    .bg-sobre p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .conteudos-sobre {
        padding-top: 3%;
    }
    .sobre iframe {
        width: 90%;
        height: 366px;
    }

    .bg-sobre {
        margin-top: 10%;
    }

    .bg-sobre h1 {
        font-size: 30px;
    }

    .bg-sobre p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1445px) {
    .sobre iframe {
        width: 90%;
        height: 600px;
    }
}

@media only screen and (max-width: 516px) {
    .sobre iframe {
        width: 90%;
        height: 200px;
    }
}

@media only screen and (max-width: 1399px) {
    #produtos .escolha-ser-invita {
        grid-template-columns: 700px 414px;
    }

    #produtos .btn-prod {
        margin-right: 10px;
    }
}



@media only screen and (max-width: 1199px) {
    #produtos .escolha-ser-invita {
        grid-template-columns: 500px 414px;
    }

    #produtos {
        z-index: 4;
    }
}

@media only screen and (max-width: 991px) {
    #produtos .escolha-ser-invita {
        grid-template-columns: 400px 300px;
    }

    #produtos .escolha-ser-invita .esq img {
        height: 734px;
    }

    #formulario__page--inicial {
        grid-template-columns: 1fr;
    }
}



@media only screen and (max-width: 767px) {
    #produtos .escolha-ser-invita {
        display: none;
    }

    #produtos .btn-prod .btn {
        width: 200px;
    }
}
