/* Rodape */

#rodape {
    position: relative;
    z-index: 11;
    background-color: #414042;
    font-size: 16px;
    color: #F2EAE2;
    margin-top: 5%;
    max-height: 300px;
}

#rodape .content__rodape {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#rodape .content__rodape .conteudo_rodape {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;

}

#rodape .content__rodape .conteudo_rodape img {
    width: 100%;
    max-width: 210px;
}

#rodape ul li {
    list-style: none;
}

#rodape ul li a {
    color: white;
    text-decoration: none;
}

.title__list--rodape {
    margin-bottom: 20%;
    font-weight: bold;
    background: #414042;
    max-width: 50px;
    padding-left: 2%;
}

.contato {
    color: #e68034;
}

#rodape i {
    text-align: center;
    margin: 0 2%;
    width: 27px;
    height: 27px;
    background: #F2EAE2;
    color: black;
    font-size: 18px;
    line-height: 28px;
    color: #414042;
}

#rodape .bg_rodape--float {
    position: absolute;
    top: -66%;
    left: 7%;
}

@media (max-width: 450px) {
    #rodape .content__rodape {
        grid-template-columns: 1fr 1fr;
    }

    #rodape .bg_rodape--float {
        display: none;
    }
}

@media (min-width: 1445px) {
    #rodape .bg_rodape--float {
        position: absolute;
        top: -66%;
        left: 20%;
    }
}



/* 



#rodape p {
    background: #414042;
}

#rodape .row {
    position: relative;
    z-index: 10;
}

#rodape ul {
    background-color: #414042;
}







.p-rodape {
    margin-top: 19%;
    background-color: #414042;
}



.logo-rodape {
    margin-left: auto;
    text-align: center;
    background-color: #414042;
}

.alinhamento-icons {
    margin-left: auto;
    text-align: end;
}

 */

@media only screen and (max-width: 767px) {
    .logo-rodape {
        margin: 2% auto;
        text-align: center;
        width: 100px;
    }
    .sobre-rodape {
        margin-bottom: 4%;
    }
    .p-rodape {
        margin-top: 4%;
    }
    .alinhamento-icons {
        margin: 3% auto;
        text-align: center;
    }

    #rodape {
        max-height: 350px;
    }
}