/* Menu */

.bg {
    background: #252525;
    color: white;
}

#barra-menu {
    font-size: 1.2em;
    position: relative;
    z-index: 10;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse {
    transition: .3s;
}

#barra-menu ul li a {
    margin: 0 15px;
}

#drop-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.664);
    background: none;
    font-size: 1.2em;
}

#drop-menu .dropdown-item:hover {
    color: white;
}

header .navbar-dark .navbar-nav .nav-link.active {
    background: url(../imagens/bg-menu.png) no-repeat left bottom;
    color: #e5c791;
    padding-left: 0;
}

.nav-link {
    transition: color 0.3s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#produtos-menu a.show {
    background: #252525 url(../imagens/bg-menu.png) no-repeat left bottom;
    color: #e5c791;
    padding-left: 0;
    transition: .3s;
    font-size: 1.07em;
}

.dropdown-menu {
    background: #252525;
}