/* Pagina Onde Encontrar --------------------------------------------------------------------------- */

.content__onde-encontar {
    display: grid;
    min-height: 100vh;
}

#pagina-onde-encontrar {
    background: #f2eae2;
    position: relative;
    min-width: 320px;
}

#pagina-onde-encontrar .bg-onde-encontar {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0;
}

#conteudo-onde-encontrar .row {
    position: relative;
    z-index: 4;
}

#conteudo-onde-encontar .align-sobre {
    max-width: 800px;
    margin: 5% 0;
    background: url(../imagens/Vector.png) no-repeat center left;
    background-position: 0 30%;
    border-radius: 20px;
    position: relative;
}

#titulo-onde {
    background: #414042;
    font-weight: bold;
    font-size: 40px;
    color: #E6DED6;
    padding: 8% 0 6% 0;
    text-align: center;
    position: relative;
    z-index: 1;
    max-height: 227px;
}

#conteudo-onde-encontrar {
    background: #f2eae2 url(../imagens/fundo-formulario.png) no-repeat top right;
    padding: 7% 0 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pagina-onde-encontrar h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
    color: #414042;
}

#pagina-onde-encontrar p {
    font-size: 18px;
    line-height: 120%;
    color: #414042;
}

@media (max-width: 1000px) {
    #pagina-onde-encontrar .bg-onde-encontar {
        position: absolute;
        z-index: 0;
    } 
}

@media only screen and (max-width: 767px) {
    #pagina-onde-encontrar h1 {
        font-weight: normal;
        font-size: 23px;
        line-height: 120%;
        color: #414042;
    }
}

@media (max-width: 500px) {
    #titulo-onde {
        font-size: 20px;
    }
}