/* Menu Produtos */
.menu__produtos {
    background-color: #414042;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 655px;
}

.menu__produtos .frame-left {
    position: absolute;
    top: -11%;
    left: 0;
    z-index: 2;
}

.menu__produtos .frame-right {
    position: absolute;
    top: 33%;
    right: 0;
    z-index: 2;
}

#menu-produtos {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 3;
    position: relative;
}

#menu-produtos a {
    text-decoration: none;
}

.titulo__pagina--produtos {
    color: #E5DED6;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin: 13% auto 84px ;
    position: relative;
    z-index: 3;
    background: #414042;
    max-width: 300px;
}

#menu-produtos .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#menu-produtos .produto .img-menu-produto {
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    border: 1px solid #e5d3d6;
    background: #414042;
    border-radius: 50%;
    padding: 1%;
    transition: 0.4s;
}

#menu-produtos .produto:hover {
    opacity: 0.7;
}

#menu-produtos .produto .img-menu-produto img {
    width: 100%;
    border-radius: 50%;
}

.nome-produto-menu {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #F2EAE2;
    text-decoration: none;
    transition: .3s;
    background: #414042;
}

/* Grade de produtos */

.grade__produtos {
    background: #E5DED6 url(../imagens/bg-selecionar-produtos.png) no-repeat bottom right;
    position: relative;
    z-index: 5;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.content_grade--produtos {
    display: grid;
    grid-template-columns: 413px 413px 413px;
    justify-content: center;
    gap: 31px;
    position: absolute;
    top: -5%;
    /* left: 50%; */
}

.content_grade--produtos .produto {
    position: relative;
    overflow: hidden;
}

.content_grade--produtos .produto img {
    width: 100%;
}

.content_grade--produtos .produto .legenda-foto {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 14px 13%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.4s;
}

.content_grade--produtos .produto:hover .legenda-foto {
    opacity: 1;
}

@media only screen and (max-width: 991px) {
    #menu-produtos {   
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nome-produto-menu {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1399px) {
    .content_grade--produtos {
        grid-template-columns: 350px 350px 350px;
    }

    .grade__produtos {
        min-height: 800px;
    }
}

@media only screen and (max-width: 1199px) {
    .content_grade--produtos {
        grid-template-columns: 300px 300px 300px;
    }

    .grade__produtos {
        min-height: 700px;
    }
}

@media only screen and (max-width: 991px) {
    .content_grade--produtos {
        grid-template-columns: 200px 200px 200px;
    }

    .grade__produtos {
        min-height: 500px;
    }
}

@media only screen and (max-width: 767px) {
    .content_grade--produtos {
        grid-template-columns: 150px 150px 150px;
        gap: 10px;
    }

    .grade__produtos {
        min-height: 400px;
    }

    #menu-produtos .produto .img-menu-produto {
        max-width: 100px;
        max-height: 100px;
    }

    .nome-produto-menu {
        font-size: 16px;
    }

    .menu__produtos {
        padding-bottom: 7%;
    }

    .content_grade--produtos .produto:hover .legenda-foto {
        opacity: 0;
    }
}

@media only screen and (max-width: 530px) {
    .content_grade--produtos {
        grid-template-columns: 120px 120px 120px;
    }

    .grade__produtos {
        min-height: 300px;
    }

    #menu-produtos .produto .img-menu-produto {
        max-width: 80px;
        max-height: 80px;
    }

    .nome-produto-menu {
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    .content_grade--produtos {
        grid-template-columns: 90px 90px 90px;
    }

    .grade__produtos {
        min-height: 200px;
    }
}